{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4">{{ event.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <!-- Display event image if available -->
            {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.name }} Image" class="img-fluid">
            {% else %}
            <img src="{% static 'events/images/default_event_image.webp' %}" alt="No Image Available" class="img-fluid">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Description</h3>
            <p>{{ event.description }}</p>

            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><strong>Start Date:</strong> {{ event.start_date|date:"D, d M Y H:i" }}</p>
            <p><strong>End Date:</strong> {{ event.end_date|date:"D, d M Y H:i" }}</p>
            <p><strong>Price per Ticket:</strong> ${{ event.price_per_ticket }}</p>
            <p><strong>Capacity:</strong> {{ event.capacity }} tickets available</p>
            <p><strong>Organizer:</strong> {{ event.organizer }}</p>

            <!-- Purchase Form (Visible to Users who are NOT the event owner) -->
            {% if user != event.organizer %}
            <hr>
            <h4>Purchase Tickets</h4>

            <form method="POST" action="{% url 'cart:add_cart' event.id %}">
                {% csrf_token %}
                <div class="form-group d-flex flex-column align-items-start">
                    {% for foo in form %}
                        {{ foo }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-25">Purchase</button>
                </div>
            </form>



            {% endif %}


        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="{% url 'events:list' %}" class="btn btn-secondary">Back to Events</a>


        {% if user == event.organizer %}
        <a href="{% url 'events:update' event.id %}" class="btn btn-warning">Update Event</a>
        {% endif %}
    </div>
</div>
{% endblock %}
