{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column p-3 shadow" style="min-width: 200px; height: 100vh;">
        <ul class="nav nav-pills flex-column mb-auto mt-5">
            <li class="nav-item">
                <a href="{% url 'panel:index' %}" class="nav-link {% if request.path == '/panel/' %}active text-white bg-primary{% else %}link-dark{% endif %}">Index</a>
            </li>
            <li>
                <a href="{% url 'panel:events' %}" class="nav-link {% if request.path == '/panel/events/' %}active text-white bg-primary{% else %}link-dark{% endif %}">Events</a>
            </li>
            <li>
                <a href="{% url 'panel:tickets' %}" class="nav-link {% if request.path == '/panel/tickets/' %}active text-white bg-primary{% else %}link-dark{% endif %}">Tickets</a>
            </li>
            <li>
                <a href="{% url 'panel:payments' %}" class="nav-link {% if request.path == '/panel/payments/' %}active text-white bg-primary{% else %}link-dark{% endif %}">Payments</a>
            </li>
            <li>
                <a href="{% url 'panel:orders' %}" class="nav-link {% if request.path == '/panel/orders/' %}active text-white bg-primary{% else %}link-dark{% endif %}">Orders</a>
            </li>
            <li>
                <a href="{% url 'panel:update' %}" class="nav-link {% if request.path == '/panel/update/' %}active text-white bg-primary{% else %}link-dark{% endif %}">Account Management</a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="content flex-grow-1 p-4">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
